{% extends 'base.html' %}

{# Load the tag library #}

{% load bootstrap5 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}



{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

{% block css %}
<style>
    @font-face { font-family: 'IBMPlexMono';
    src: local('IBMPlexMono'), url('{% static "culturizateApp/fonts/IBMPlexMono-Bold.ttf" %}') format('truetype'); 
    font-weight: bold; font-style: normal; font-size:40px; }


    .btn-toggle {
      position:absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      transform: rotate(calc(var(--angle) * var(--index))) translateY(-180px) rotate(calc(-1 * var(--angle) * var(--index)));
      border-width: 10px;
      
    }
  
    .btn-toggle.active {
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
      /*transform: translateY(-3px);*/
    }
  
    .btn-toggle:focus {
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .circle-container {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    /*top:50%;
    left:50%;*/
    top:-180px;
    left:525px;
    transform: translate(-50%, 50%);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    }
   

  </style>
  {% endblock %}



  <div class="col-md-6 btn-group">
    <div class="circle-container" style="--angle: 60deg; margin-top: 20px;">  
        {% for category,color in category_color_list %}
       
        <form method="GET" action="{% url 'obtener_pregunta_n1' category_selected=category %}">
            {% csrf_token %}
            <button class="btn {{ color }} btn-toggle " style="--index: {{ forloop.counter }}; --total: {{ category_color_list|length }}; --border:20px solid {{ color }}" data-bs-toogle="dropdown" aria-expanded="false" >
                {{ category }}
            </button>
        </form>  
        {% endfor %}
        
            <form method="GET" action="{% url 'obtener_pregunta_n1' category_selected='sociedad' %}">
                {% csrf_token %}
                
                    <button class ="btn btn-outline-dark btn-toggle " >
                        Test cultura general 
                    </button>
                    

              
                
          
              </form>
       
        
    </div>  
      </div> 
    </div>
  
  <script>
    /*botones popup*/
    
    
    
    /*botones menu circular*/
    const buttons = document.querySelectorAll('.btn-toggle');
    
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(otherButton => {
          if (otherButton !== button) {
            otherButton.classList.remove('active');
            otherButton.setAttribute('aria-pressed', 'false');
          }
        });
        button.classList.toggle('active');
        button.setAttribute('aria-pressed', button.classList.contains('active') ? 'true' : 'false');

        const category = button.getAttribute('data-category');
        console.log(`Se hizo clic en el botón de categoría "${category}"`);

        /* botones del menu desplegable */
      
            });
            });

  
  </script>
{% endblock %}