<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .center-content {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            color: #333;
        }

        #login-button, #signin-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            margin-top: 20px;
            transition: background-color 0.3s;
        }

        #login-button:hover,#signin-button:hover {
            background-color: #45a049;
        }
        #signin-button {
            background-color: #008CBA;
            margin-left: 10px; /* Ajusta el espacio entre los botones */
        }
        /**/
        
    </style>
</head>

<body>
   
    <div class="container mt-5">
        <div class="row justify-content-center margin-top-bottom">
            <div class="col-md-6">
    <div class="card h-50" style="margin-top:90px;">
    <div class="center-content" >
        <h1>¡Bienvenido a CULTURIZATE!</h1>
        <p>¡Prepárate para poner a prueba tus conocimientos y aprender algo sobre el mundo!</p>
        <button id="login-button" type="submit "onclick="window.location.href='{% url 'login' %}'">Iniciar Sesión</button>
        <button id="signin-button" type="submit "onclick="window.location.href='{% url 'signin' %}'">Crear Cuenta</button>
    </div>
</div>
</div>
    </div>
</div>


   
</body>
</html>
{% endblock %}
