{% extends 'base.html' %}


   

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Perfil de Usuario</h2>
          </div>
          <div class="card-body text-center">
            <p>Nombre de Usuario: {{ user.username }}</p>
            <p>Puntuación Acumulada: {{ user.score }}</p>
            <p>Preguntas realizadas: {{ user.done }}</p>
            <p>Fallos totales: {{ user.fails }}</p>
            <p>Puntuacion test de arte {{ user.art_last_score}}</p>
        </div>
    </div>
</div>
</div>
</div>
{% endblock%}