<!-- game.html -->
{% extends 'base.html' %}
{%load static %}
<script src="{% static 'scripts/game_logic.js' %}"></script>
{% block title %} Juego {% endblock %}

{% block content %}
<div class="card" class="card mx-auto" style="width:35rem;">
  <div id="game-container">
   {% if remaining_questions %}
   <div class="card-header text-center">
    <h3>{{i}}. {{question_text}}</h3>
   </div> 
   <div class="card-body">
    <p>{{ question_option}}</p>
    
    <form id="cultural-test-form" method="POST">
      {% csrf_token %}
      {% for option in options %}
        <input type="radio" name="user_answer" value="{{ option.0 }}" id="{{ option.0 }}" class="answer-option">
        <label for="{{ option.0 }}">{{ option.1 }}</label><br>
      {% endfor %}
      <p>Puntos: <span id="sociedad_actual_score">{{ sociedad_actual_score }} </span></p>

        <button id="response-button" type="submit"class="btn btn-primary" data-toggle="modal" data-target="#liveAlert" >Responder</button>
      <!--<button id="next-question-button" >Siguiente</button>-->
      <a href="{% url 'next_question_view' %}" class="btn btn-primary">Siguiente Pregunta</a>
      <a href="{% url 'get_tested' %}" class="btn btn-primary"> Más tests</a>
    </form>
</div>
    <div id ="respuesta-container"> <p>{{response_message}}</p></div>
    {% else %}
        <div id="response-result-container" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ user }},tus resultados: </h5>
                <h3>{{ user.sociedad_test_message }}</h3>
                <p class="card-text"> Puntos obtenidos: {{ user.sociedad_actual_score}}</p>
                <p>Puntuacion anterior: {{ user.sociedad_test_score}}</p>
                <a href="{% url 'get_tested' %}" class="btn btn-primary"> Más tests</a>
                <a href="{% url 'profile' %}" class="btn btn-primary"> Menu</a>
            </div>
        </div>
    {% endif %}
  </div>
</div>




  <script>

    // actualizando la puntuacion
    $(document).ready(function(){
      $("#response-button").on("click",function(){
        var formData=$("#cultural-test-form").serialize();
        event.preventDefault(); 
  
        $.ajax({
          type:"POST",
          url: "{% url 'checkCulturalAnswer_view' %}",
          data:formData,
          success:function(response){
            $(".answer-option").prop("disabled", true);
            $("#respuesta-container").html(response.response_message);
            $("#sociedad_actual_score").html(response.sociedad_actual_score);
            $("#response-result-container").html(response.response_result_message);

           
          },
          error:function(error){
            console.log(error);
          }
        });

        
      });
    });

    
</script>

{% endblock %}

